@import "tailwindcss";



body {
  font-family: "Inter", sans-serif;
  background-color: #f8f8fa;
}

/* === Custom Scrollbar === */
::-webkit-scrollbar {
  width: 6px;       
}

::-webkit-scrollbar-track {
  background: #f1f1f1;  
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b3b3b3;   
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8d8d8d;   
}